<form action="/blog" method="POST" >
  <label>Title:</label>
  <input type="text" name="title">
  <br>
  <br>
  <label>Content:</label>
  <textarea name="content" cols="30" rows="10"></textarea>
  <br>
  <br>
  <input type="submit">
</form>