<h1>You are home!</h1>
<h2>{{title}}</h2>

{{#if isLoggedIn}}
  <a href="/blog">go to blog</a>
  <br>
  <a href="/logout">logout</a>
{{/if}}

{{#unless isLoggedIn}}
  <a href="/login">login</a>
{{/unless}}

